<form id="login_form" method="post" action="/tuna/login">
メールアドレスを入力してください
：<input name="email" id="email" type="text" />
<br />
パスワードを入力してください
：<input id="passwd" type="password" />
<br />
<input id="login" type="submit" value="ログイン" />
<a href="/tuna/forget">パスワードを忘れた方はこちら</a>


</form>
