<form id="signup_form" method="post" action="/tuna/signup">
メールアドレスを入力してください
：<input name="email" id="email" type="text" />
<br />
パスワードを入力してください
：<input id="passwd" type="password" />
<br />
再入力
：<input id="passwd_conf" type="password" />
<br />

<input id="signup" type="submit" value="ログイン" />

