<form id="signup_form" method="post" action="/tuna/signup">
メールアドレスを入力してください
：<input name="email" id="email" type="text" />
<br />
ニックネームを入力してください
：<input name="display_name" id="email" type="text" />
<br />
パスワードを入力してください
：<input name="passwd" id="passwd" type="password" />
<br />
パスワード再入力
：<input name="passwd_conf" id="passwd_conf" type="password" />
<br />

<input id="btn_signup" type="button" value="サインアップ" />

